{%extends 'base.html' %}
	
 {% block content %}
 <div class="container my-4">
    <div class="d-flex justify-content-center">
    <div class="row mx-auto">
        
          <div class="col-md-3"> 
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Sign-Up </legend>
                    <div>{{ form.email.label}}
                        {{ form.email}}
                    </div><br>
                    <div>{{ form.username.label}}
                        {{ form.username}}
                    </div><br>
                    <div>   
                        {{ form.password1.label}}
                        {{ form.password1}}
                    </div><br>
                    <div>
                        {{ form.password2.label}}
                        {{ form.password2}}</div>
                </fieldset>
                <br><div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
       
                </div>
                  
            </form>
            <div class="border-top pt-3">
               <small class="text-muted">
                   Already Have An Account? <a class="ml-2" href="#">Sign In</a>
               </small>
           </div>
       </div>
       
        </div>
                     
           
          </div><br>
    </div>
 </div>
     
 {% endblock %}