{%extends 'base.html'%}

 {% block content %}

 <div class="container my-5">
    <div class="row"> 
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">New Post</h5>
                <div class="card-body"> 
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"><strong> Choose Image </strong></label>
                            <div>
                            {{form.picture}}
                            </div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label"><strong> Write Caption </strong></label>
                          <div>
                            {{ form.caption}}
                          </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label"><strong> Tags </strong></label>
                            <div>
                              {{ form.tags}}
                              </div>
                          </div>
                          <div class="form-group mt-4">
                            <button class="btn btn-outline-info" type="submit">Post</button>
                        </div>
                      </form>              
                </div>
            </div>
        </div>
    </div>
</div>




 {% endblock %}